<!doctype html>
<html>
<head>
  <title>GOV.UK Search</title>
  <link href="/stylesheets/application.css" rel="stylesheet" type="text/css" media="all">
</head>
<body>
  <main>
    <%-body -%>
  </main>
</body>
</html>
