<form action="/search" method="get">
  <input type="text" name="q" value="<%= (typeof query != 'undefined' ? query : '') %>" placeholder="Enter a search query.." />
  <button type="submit">Search</button>
</form>
